/vendor/
/node_modules/
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
/.DS_Store
/.idea/
/.vscode/
/.temp/
/index.php
/plugins/index.php
/themes/index.php
/plugins/wisesync/blocks/build
/themes/papersync/blocks/build
/plugins/wisesync/**/*.mo
/themes/papersync/**/*.mo
/plugins/wisesync/**/*.json
/themes/papersync/**/*.json
/wp-cli.phar